#mandelbrot {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
}

#text {
	background-color: white;
	width: 80%;
	margin: auto;
}

ol {
	font-family: monospace;
	font-size: 20px;
	background-color: rgb(200, 100, 0);
}

h1 {
	text-align: center;
} 

